DEMOS/St_Mungo/Máriusz/LoginScreen/EFTeszt01/obj/Debug/EFTeszt01_MarkupCompile.i.lref
DEMOS/St_Mungo/Máriusz/LoginScreen/EFTeszt01/obj/Debug/EFTeszt01_MarkupCompile.i.lref
*.lref
*.suo
DEMOS/St_Mungo/Máriusz/LoginScreen/EFTeszt01/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache